@use "../Styles/variables.scss";

.carrito-header {
  padding: 0.6em;
  background-color: variables.$cards-background-color;
  margin: 0.5em;
  border-radius: 10px;
  color: variables.$cards-color;
}

.carrito-boton {
  color: rgb(236, 16, 53);
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  background-color: variables.$searchbar-backgorund-color;
  color: variables.$searchbar-color;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  transition: background-color ease-in 0.2s;
  cursor: pointer;
}

.carrito-boton:hover {
    background-color: variables.$button2-background-color-hover;
}

table.tabla-carrito {
  img {
    width: 50px;
  }

  border-collapse: collapse;
  width: 90%;
  margin: 1rem auto;
  font-size: 1.2em;

  .input-carrito {
    padding: .3em;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60px;

    @media (min-width: 1024px) {
      padding: .2em;
    }
  }

  .input-carrito::-webkit-inner-spin-button,
  .input-carrito::-webkit-outer-spin-button {
    height: auto;
    cursor: pointer;
    padding: .6em;

    @media (min-width: 1024px) {
      padding: .2em;
    }
  }

  th,
  td {
    border: 1px solid variables.$table-bordercolor;
    padding: 8px;
    text-align: left;
    background-color: variables.$table-background-color;
  }

  th {
    background-color: variables.$nosotros-text-background-color;
    border: none;
    color: variables.$cards-color;
  }

  button {
    padding: 1em;
    margin: 0.6em;
    border-radius: 10px;
    background-color: variables.$nosotros-text-background-color;
    color: variables.$searchbar-color;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: background-color ease-in 0.2s;
    cursor: pointer;
  }

  button:hover {
    background-color: variables.$button3-background-color-hover;
  }

  @media (max-width: 650px) {
    th {
      display: none;
    }

    .td-producto:nth-child(1)::before {
      content: "foto";
    }
    .td-producto:nth-child(2)::before {
      content: "nombre";
    }
    .td-producto:nth-child(3)::before {
      content: "cantidad";
    }
    .td-producto:nth-child(4)::before {
      content: "precio";
    }
    .td-producto:nth-child(5)::before {
      content: "subtotal";
    }

    .td-producto::before {
      text-transform: capitalize;
      font-weight: 700;
    }

    td {
      display: grid;
      grid-template-columns: 9ch auto;
    }

    td:last-of-type {
      margin-bottom: 1em;
    }

    button {
      grid-column: 1 / 3;
      width: 30%;
    }
  }
}
