@use '../Styles/variables.scss';

.nav-bar {
    background-color: variables.$navbar-background-color;
    display: none;

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        list-style-type: none;
        flex-direction: column;

        @media (min-width: 1024px) {
            & {
                flex-direction: row;
                justify-content: center;
                gap: 5em;
                padding: 1em;
            }
        }
    }

    &__nav-item {
        text-align: left;
    }

    &__nav-link {
        display: block;
        color: variables.$nav-link-color;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;
        border-bottom: solid 1px variables.$nav-link-bordercolor;
        padding: 1em;

        @media (min-width: 1024px) {
            & {
                border: none;
                letter-spacing: normal;
                font-weight: 700;
                position: relative;
                padding: .2em;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: variables.$nav-link-color;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform .3s ease-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    @media (min-width: 1024px) {
        & {
            display: block;
        }
    }
}